
<h2 class="headingtitle">Angular: Making HTTP Requests with Firebase </h2>
<form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)"><div class="formcontainer">
    <div class="tex">
<label><b>Title</b></label>
<input type="text" class="titleinput" name="title" ngModel required/>
</div>
<div class="pas">
<label><b>PASSWORD</b></label>

    <input type="password" name="content"  ngModel required/>
</div>
<!-- <textarea id="content" class="contenttextarea" name="content" ngModel required></textarea> -->
<div class="button">
<button class="btn btn-primary" type="submit" >Send Post</button>
</div>
</div>
<div>
 <!-- <div>
   <button class="fetchbutton">Fetch Posts</button> |
   <button class="clearbutton">Clear Posts</button>
 </div> -->
</div>
</form>




<router-outlet></router-outlet>
